<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="61666tanaka733.Push-Sample" Publisher="CN=DEF0CA74-4DF4-41C6-8678-B3212C2B72CE" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Push-Sample</DisplayName>
    <PublisherDisplayName>tanaka733</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Push_Sample.App">
      <VisualElements DisplayName="Push-Sample" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Push-Sample" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>